*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

:root{
    /*Background Color*/
    --bg-primary-color: #0c0c0c;

    /*Text Color*/
    --text-primary-color: #f0f0f0;

    /*Spacing Variables*/
    --space-xs: 4px;
    --space-sm: 8px;
    --spcae-md: 16px;
    --spcae-lg: 24px;
    --spcae-xl: 32px;
    --spcae-2xl: 40px;
    --spcae-3xl: 48px;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,section{
    width: 100%;
    height: 100%;
}

section{
    padding: 40px;
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}